snippet .subscribe ".subscribe" iA
.subscribe((${1:success}) => {
  ${0:// TODO: Handle Success}
}, (${2:error}) => {
  ${3:// TODO: Handle Error}
});
endsnippet

snippet fb.group "fb.group" iA
fb.group({
  ${1:field}: ['', ''],
});
endsnippet

snippet vc "vc"
@ViewChild('${1:selector}') ${2:varName}: ${3:className} | null = null;
endsnippet
